<h1>Pictures</h1>
<h3>{{ first["title"] }}</h3>
<img src={{ url_for('static', filename = (first["id"] + ".jpg")) }} width="200" class="img-responsive img-rounded" alt={{ first["title"] }}>
<h3>{{ second["title"] }}</h3>
<img src={{ url_for('static', filename = (second["id"] + ".jpg")) }} width="200" class="img-responsive img-rounded" alt={{ second["title"] }}>
<h3>{{ third["title"] }}</h3>
<img src={{ url_for('static', filename = (third["id"] + ".jpg")) }} width="200" class="img-responsive img-rounded" alt={{ third["title"] }}>
