<!-- Authors: Misael Guijarro && Jose Alfaro
Date: 04/02/2019
Class: CST 205
Teacher: Wes Modes
Description: This will allow the images to be displayed by using the functions in the
              driver.py

Function: We pass in the image title with the specific variables from the array. After
          that we use url_for to display the image and then make the image into a
          hyperlink to display it onto another page. It passes in the image dictionary info
          onto the image.
-->
<!DOCTYPE html>
<html>
  <head>
    <title>Pictures</title>
  </head>
  <body>
    <h1>Pictures</h1>
    {% for item in image_list %}
    <a href="{{ url_for('image_page', var=item) }}">
      <h3>{{ item["title"] }}</h3>
      <img src={{ url_for('static', filename = (item["id"] + ".jpg")) }} width="200" class="img-responsive img-rounded" alt={{ item["title"] }}>
    </a>
    {% endfor %}
  </body>
</html>
